body {
	background-color: hsla(160, 20%, 50%, 1);
	padding: 0px;
	margin: 0px;
}

a {
	color: #ffffff;
	text-decoration: none;
}

#background {
	background-image: url("img/bgdots.svg");
	background-size: 10px 10px;
	background-color: green;
	transform: (45deg);
	width: 100%;
	height: 100%;
	margin: 0px;
	position: relative;
}

#bodycont01 {
	background-color: #000000;
	border-style: solid;
	border-width: 20px;
	border-color: #ffffff;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	height: auto;
	max-width: 880px;
	margin: 10px auto;
	position: relative;
	z-index: 10;
	box-shadow: 0px 5px 25px hsla(0, 0, 0, .1);
}

#b01, #b02, #b03, #b04 {
	float: left;
	width: 120px;
	margin: 2px;
	border-radius: 2px;
	text-shadow: 0px 0.5px 1px #444444;
	box-shadow: inset 0 10px 10px -5px rgba(255, 255, 255, .2);
}

#b01 {background-color: hsl(82, 62%, 47%);}
#b02 {background-color: hsl(208, 60%, 60%);}
#b03 {background-color: hsl(33, 100%, 45%);}
#b04 {background-color: #de718c;}


#holder {
	position: relative;
	margin: 0px auto;
	width: 496px;
}

#banner {
	background-color: #444444;
	width: 100%;
}

#txtbanner {
	font-family: 'dancing_script_otregular';
	color: #ffffff;
	font-size: 4em;
}

#txtban02 {
	font-family: 'rokkittregular';
	color: #ffffff;
	font-size: 1.3em;
	background-color: #444;
}

.clear {
	clear: both;
}

.spacer10 {
	height: 6px;
	background-color: #444;
}

@font-face {
    font-family: 'rokkittregular';
    src: url('fonts/rokkitt/rokkitt-webfont.eot');
    src: url('fonts/rokkitt/rokkitt-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rokkitt/rokkitt-webfont.woff') format('woff'),
         url('fonts/rokkitt/rokkitt-webfont.ttf') format('truetype'),
         url('fonts/rokkitt/rokkitt-webfont.svg#RokkittRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dancing_script_otregular';
    src: url('fonts/dancing_script/dancingscript-regular-webfont.eot');
    src: url('fonts/dancing_script/dancingscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dancing_script/dancingscript-regular-webfont.woff2') format('woff2'),
         url('fonts/dancing_script/dancingscript-regular-webfont.woff') format('woff'),
         url('fonts/dancing_script/dancingscript-regular-webfont.ttf') format('truetype'),
         url('fonts/dancing_script/dancingscript-regular-webfont.svg#dancing_script_otregular') format('svg');
    font-weight: normal;
    font-style: normal;